:root {
  --titelkleur: black;
  --headerkleur: #1058b7;
  --navhoverbgkleur: #0d4083;
  --navhover: rgb(249, 229, 12);
  --afronding: 8px;
  --nl: #f00;
  --en: rgb(2, 81, 23);
  --fr: rgb(223, 230, 22);
  --la: rgb(64,10, 164);
  --sv: rgb(107,8,67);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Serif', Serif;
  line-height: 1.5;
  font-size: 1.1rem;
}

header {
  margin-bottom: 1em;
}

header,
footer {
  background-color: var(--headerkleur);
  box-shadow: 0 0 5px #999;
}

footer{
  padding: 1em;
  text-align: center;
  color: #fff;
}

header div.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header img {
  width: 45px;
  height: 45px;
  display: block;
}

h1,
h2,
h3 {
  font-family: 'Oswald', Sans-Serif;
  font-weight: 300;
  color: var(--titelkleur);
  line-height: 1.1;
}

h1 {
  margin: 1rem 0;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

nav ul {
  display: flex;
  gap: 0.5em;
  flex-direction: row;
  list-style-type: none;
  justify-content: end;
}

nav ul li a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: #fff;
  border-radius: var(--afronding);
}

nav ul li a:hover {
  color: var(--navhover);
  background-color: var(--navhoverbgkleur);
}

nav li.hier a {
  background-color: #fff;
  color: var(--headerkleur);
}

.wrapper {
  max-width: 50em;
  margin: 0px auto;
  padding: 0.5em;
}

.citaten {
  margin-bottom: 2em;
}

.citaten article {
  background-color: #f5f5f5;
  padding: 1em;
  box-shadow: 0 0 3px #999;
  border-radius: var(--afronding);
  margin-bottom: 1em;
  border-left-width: 10px;
  border-left-style: solid;
}

article {
  position: relative;
}

article svg {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 28px;
  height: 28px;
}

article svg:hover {
  cursor: pointer;
  top: 3px;
  right: 3px;
  width: 32px;
  height: 32px;
  transition-duration: 300ms;
}

p.auteur {
  font-style: italic;
  text-align: right;
}

p.auteur::before {
  content: '-';
}

ul.vb {
  list-style-type: none;
  margin-bottom: 2em;
}

button{
  padding: 5px 1em;
  font-family: 'PT Serif', serif;
  font-size: 1.1rem;
  background-color: var(--headerkleur);
  color: #fff;
  border-radius: var(--afronding);
  border: 1px solid transparent;

}

button:hover {
  cursor: pointer;
  background-color: #054674;
}

section.citaten {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.citaten.driekol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

article.nl {
  border-left-color: var(--nl) ;
}
article.nl svg {
  stroke:var(--nl);
}
article.en {
  border-left-color: var(--en) ;
}
article.en svg {
  stroke:var(--en);
}
article.fr {
  border-left-color: var(--fr) ;
}
article.fr svg {
  stroke:var(--fr);
}
article.la {
  border-left-color: var(--la) ;
}
article.la svg {
  stroke:var(--la);
}
article.sv {
  border-left-color: var(--sv) ;
}
article.sv svg {
  stroke:var(--sv);
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: #f2f2f2;
  padding: 1em 1em 0 1em;
  border-radius: var(--afronding);
}

input {
  padding: 5px;
  margin-bottom: 1.5em;
}
input[type=checkbox] {
  margin-right: 0.5em;
  margin-bottom: 1em;
}

#titel, #auteur {
  width: 15em;
}
#taal {
  width: 2em;
}
input[type="submit"] {
  width: 12em;
}
p.succes {
  color: green;
  margin-bottom: 2em;
  border: 1px solid green;
  padding: 5px;
}

p.fout {
  color: red;
  margin-bottom: 2em;
  border: 1px solid red;
  padding: 5px;
}


label.nl {
  color: var(--nl);
}
label.en {
  color: var(--en);
}
label.fr {
  color: var(--fr);
}
label.la {
  color: var(--la);
}
label.sv {
  color: var(--sv);
}

@media (max-width: 45em) {
  section.citaten {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 30em) {
  section.citaten {
    grid-template-columns: 1fr;
  }
}